<!DOCTYPE html>
<html>

<head>
    <title>Internship List</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <style>
        .card {
            border-radius: .5rem;
        }

        .mask-custom {
            backdrop-filter: blur(25px);
            border: 2px solid rgba(255, 255, 255, 0.05);
            background-clip: padding-box;
            box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
        }
    </style>
</head>

<body>
    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
        type="button"
        class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
        <span class="sr-only">Open sidebar</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <!-- Your SVG icon code here -->
        </svg>
    </button>



    <aside id="logo-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
            <a href="{{ url_for('supervisor_internship_list') }}" class="flex items-center pl-2.5 mb-5">
                <img src="{{ url_for('static', filename='image/logo.png') }}" class="h-6 mr-3 sm:h-7"
                    alt="TARUMT Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">ITP Online</span>
            </a>
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="{{ url_for('supervisor_internship_list') }}"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 22 21">
                            <path
                                d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                            <path
                                d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                        </svg>
                        <span class="ml-3">Internship Application</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('signin') }}"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 22 21">
                            <path
                                d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                            <path
                                d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                        </svg>
                        <span class="ml-3">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>

    <div class="p-4 sm:ml-64">
        <!-- Main content with responsive classes -->

      <!-- Main content with responsive classes -->
<h1 class="text-black text-4xl text-center py-8">Internship List Approval</h1>
<div class="mask-custom flex items-center h-full">
    <div class="container mx-auto">
        <div class="sm:flex justify-center"> <!-- Responsive class for small screens -->
            <div class="w-full sm:w-3/4 lg:w-2/3">
                <div class="bg-white shadow-md p-8 w-full">
                    <div class="overflow-x-auto">
                        <!-- Wrap the table with a responsive div -->
                        <div class="min-w-full overflow-x-auto">
                            <table class="min-w-full border border-gray-200 w-full">
                                <!-- Table content -->
                                <thead>
                                    <!-- Table content -->
                                    <thead>
                                        <tr>
                                            <th class="px-6 py-3 bg-gray-100">Company Name</th>
                                            <th class="px-6 py-3 bg-gray-100">Company Address</th>
                                            <th class="px-6 py-3 bg-gray-100">Allowance</th>
                                            <th class="px-6 py-3 bg-gray-100">Status</th>
                                            <th class="px-6 py-3 bg-gray-100">File</th>
                                            <th class="px-6 py-3 bg-gray-100">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for internship in internships %}
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">{{ internship[1] }}</td>
                                            <td class="px-6 py-4 whitespace-nowrap">{{ internship[2] }}</td>
                                            <td class="px-6 py-4 whitespace-nowrap">{{ internship[3] }}</td>
                                            <td class="px-6 py-4 whitespace-nowrap">{{ internship[5] }}</td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                {% for url in internship[7].split(',') %}
                                                {% set file_name = url.split('/')[-1] %}
                                                <a href="{{ url.strip() }}" download target="_blank" style="text-decoration: underline; color: blue;">{{ file_name }}</a><br>
                                            {% endfor %}
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <form action="/internshipapproval" method="post">
                                                    <input type="hidden" name="submit_form_id" value="{{ internship[0] }}">
                                                    <input type="hidden" name="status" value="{{ internship[5] }}">
                                                    <button
                                                        class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded" 
                                                        type="submit" name="action" value="approve">
                                                        Approve
                                                        <input type="hidden" name="submit_form_id" value="{{ internship[0] }}">
                                                    </button>
                                                    <button
                                                        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded" 
                                                        type="submit" name="action" value="reject">
                                                        Reject
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                            </table>
                        </div>
                        <!-- End of responsive div -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</body>

</html>